//- Stylesheets
- var bootstrapCSS = "css/bootstrap-3.3.7-dist/css/bootstrap.min.css"
- var normalizeCSS = "css/normalize/normalize.css"
- var flaticonCSS = "fonts/flaticon/flaticon.css"
- var fontawesomeCSS = "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
- var animateCSS = "https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"
- var mainCSS = "css/main.css"

//- Javascripts
- var jqueryJS = "js/jquery/jquery-3.2.1.min.js"
- var bootstrapJS = "js/bootstrap/bootstrap.min.js"
- var scrollToJS = "js/jquery.scrollTo/jquery.scrollTo.min.js"
- var localScrollJS = "js/jquery.localScroll/jquery.localScroll.min.js"
- var mainJS = "js/main.js"
