//- Banner Component
mixin banner-content()
  .banner-content
    .container
      .banner-header
        
        .hr.hr-green
        
        // Banner Title  
        h1
          | Professional
          br
          | Bussines Solution
          br
          | &amp; Consulting
