nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button(type="button" data-toggle="collapse" data-target="#mynavbar").navbar-toggle
        span.icon-bar
        span.icon-bar
        span.icon-bar
      img.navbar-brand(src="img/sierra-logo-light.svg" alt="sierra logo")
    .collapse.navbar-collapse#mynavbar
      ul.nav.navbar-nav.navbar-right
        li: a(href="#") home
        li: a(href="#services-section") services
        li: a(href="#misc-section") misc
        li: a(href="#testimony-section") testimony
        li: a(href="#contact-section") contact
