    /*
    Flaticon icon font: Flaticon
    Creation date: 02/10/2017 15:21
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-clock:before { content: "\f100"; }
.flaticon-002-palette:before { content: "\f101"; }
.flaticon-003-vector-1:before { content: "\f102"; }
.flaticon-004-compass:before { content: "\f103"; }
.flaticon-005-pencil-2:before { content: "\f104"; }
.flaticon-006-pantone:before { content: "\f105"; }
.flaticon-007-desk-lamp:before { content: "\f106"; }
.flaticon-008-monitor:before { content: "\f107"; }
.flaticon-009-gears:before { content: "\f108"; }
.flaticon-010-camera-1:before { content: "\f109"; }
.flaticon-011-brain:before { content: "\f10a"; }
.flaticon-012-golden-ratio:before { content: "\f10b"; }
.flaticon-013-printer:before { content: "\f10c"; }
.flaticon-014-video-player:before { content: "\f10d"; }
.flaticon-015-idea:before { content: "\f10e"; }
.flaticon-016-camera:before { content: "\f10f"; }
.flaticon-017-laptop:before { content: "\f110"; }
.flaticon-018-pointer:before { content: "\f111"; }
.flaticon-019-smartphone-1:before { content: "\f112"; }
.flaticon-020-pencil-1:before { content: "\f113"; }
.flaticon-021-brush-1:before { content: "\f114"; }
.flaticon-022-vector:before { content: "\f115"; }
.flaticon-023-notes-2:before { content: "\f116"; }
.flaticon-024-protractor:before { content: "\f117"; }
.flaticon-025-pen-1:before { content: "\f118"; }
.flaticon-026-notebook:before { content: "\f119"; }
.flaticon-027-mouse:before { content: "\f11a"; }
.flaticon-028-coffee:before { content: "\f11b"; }
.flaticon-029-canvas:before { content: "\f11c"; }
.flaticon-030-paint-roller:before { content: "\f11d"; }
.flaticon-031-calendar:before { content: "\f11e"; }
.flaticon-032-pen-tablet:before { content: "\f11f"; }
.flaticon-033-keyboard:before { content: "\f120"; }
.flaticon-034-ipad:before { content: "\f121"; }
.flaticon-035-studio:before { content: "\f122"; }
.flaticon-036-develop:before { content: "\f123"; }
.flaticon-037-brush:before { content: "\f124"; }
.flaticon-038-notes-1:before { content: "\f125"; }
.flaticon-039-browsing:before { content: "\f126"; }
.flaticon-040-clapperboard:before { content: "\f127"; }
.flaticon-041-square:before { content: "\f128"; }
.flaticon-042-bulb:before { content: "\f129"; }
.flaticon-043-clipboard:before { content: "\f12a"; }
.flaticon-044-puzzle:before { content: "\f12b"; }
.flaticon-045-notes:before { content: "\f12c"; }
.flaticon-046-pen:before { content: "\f12d"; }
.flaticon-047-smartphone:before { content: "\f12e"; }
.flaticon-048-text:before { content: "\f12f"; }
.flaticon-049-pencil:before { content: "\f130"; }
.flaticon-050-pencil-case:before { content: "\f131"; }
    
    $font-Flaticon-001-clock: "\f100";
    $font-Flaticon-002-palette: "\f101";
    $font-Flaticon-003-vector-1: "\f102";
    $font-Flaticon-004-compass: "\f103";
    $font-Flaticon-005-pencil-2: "\f104";
    $font-Flaticon-006-pantone: "\f105";
    $font-Flaticon-007-desk-lamp: "\f106";
    $font-Flaticon-008-monitor: "\f107";
    $font-Flaticon-009-gears: "\f108";
    $font-Flaticon-010-camera-1: "\f109";
    $font-Flaticon-011-brain: "\f10a";
    $font-Flaticon-012-golden-ratio: "\f10b";
    $font-Flaticon-013-printer: "\f10c";
    $font-Flaticon-014-video-player: "\f10d";
    $font-Flaticon-015-idea: "\f10e";
    $font-Flaticon-016-camera: "\f10f";
    $font-Flaticon-017-laptop: "\f110";
    $font-Flaticon-018-pointer: "\f111";
    $font-Flaticon-019-smartphone-1: "\f112";
    $font-Flaticon-020-pencil-1: "\f113";
    $font-Flaticon-021-brush-1: "\f114";
    $font-Flaticon-022-vector: "\f115";
    $font-Flaticon-023-notes-2: "\f116";
    $font-Flaticon-024-protractor: "\f117";
    $font-Flaticon-025-pen-1: "\f118";
    $font-Flaticon-026-notebook: "\f119";
    $font-Flaticon-027-mouse: "\f11a";
    $font-Flaticon-028-coffee: "\f11b";
    $font-Flaticon-029-canvas: "\f11c";
    $font-Flaticon-030-paint-roller: "\f11d";
    $font-Flaticon-031-calendar: "\f11e";
    $font-Flaticon-032-pen-tablet: "\f11f";
    $font-Flaticon-033-keyboard: "\f120";
    $font-Flaticon-034-ipad: "\f121";
    $font-Flaticon-035-studio: "\f122";
    $font-Flaticon-036-develop: "\f123";
    $font-Flaticon-037-brush: "\f124";
    $font-Flaticon-038-notes-1: "\f125";
    $font-Flaticon-039-browsing: "\f126";
    $font-Flaticon-040-clapperboard: "\f127";
    $font-Flaticon-041-square: "\f128";
    $font-Flaticon-042-bulb: "\f129";
    $font-Flaticon-043-clipboard: "\f12a";
    $font-Flaticon-044-puzzle: "\f12b";
    $font-Flaticon-045-notes: "\f12c";
    $font-Flaticon-046-pen: "\f12d";
    $font-Flaticon-047-smartphone: "\f12e";
    $font-Flaticon-048-text: "\f12f";
    $font-Flaticon-049-pencil: "\f130";
    $font-Flaticon-050-pencil-case: "\f131";